{% extends "pagInicial.html" %}

{% block content %}

{% load static %}

<style>
  .image-frame {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: 2px solid #333;
    padding: 10px;
    background-color: #fff;
    z-index: 1000;
    width: 200px;
    height: 200px;
  }

  .image-frame img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }

  .close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
  }
</style>


<!-- Contenedor de la imagen con marco y botón de cierre -->
<div id="imagen-container" class="image-frame">
  <img id="imagen" src="" alt="Imagen">
  <button class="close-btn" onclick="closeImage()">X</button>
</div>

<script>
  var xhr = new XMLHttpRequest();
  xhr.open('GET', 'https://raw.githubusercontent.com/elvis-codev/api_socialtennis/main/banner_random.json', true);
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
      var data = JSON.parse(xhr.responseText);
      var images = data.images;
      var randomIndex = Math.floor(Math.random() * images.length);
      var imageUrl = images[randomIndex].url;
      document.getElementById('imagen').src = imageUrl;
    }
  };
  xhr.send();

  function closeImage() {
    var imageContainer = document.getElementById('imagen-container');
    imageContainer.style.display = 'none';
  }
</script>

<h1 class="text-center" style="margin-top: 110px;">Ranking Bplayer</h1>


<table class="table table-hover">>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>

    </tr>
    <tr>
      <th scope="row">21</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">22</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>

  </tbody>
</table>

<div class="text-center mt-5 mb-5">
  <button class="btn btn-primary fw-bold f-24 text-center">Cargar más</button>


</div>

{% endblock %}